# Virtual Environment
venv/
.venv/
env/
**/venv/

# Python cache
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment variables
.env
**/.env

# IDE
.vscode/
.idea/

# OS files
.DS_Store

# Logs
*.log
